/* START */

body {
    overflow-x: hidden;
    font-family: "Roboto Slab","Helvetica Neue",Helvetica,Arial,sans-serif;

}

footer {
    padding: 25px 0;
    text-align: center;
}


.img-centered {
    margin: 0 auto;
}

.bg-dark {
    background-color: #1B1B1E;
}

.bg-light-gray {
    background-color: #e6e6ea;
}

.bg-facet1 {
    background-image: url("./img/facet.png")
}



/*  Fonts and Text  */

.text-muted {
    color: #777;
}

.text-primary {
    color: #fed136;
}

p {
    font-size: 14px;
    line-height: 1.75;
}

p.large {
    font-size: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
}




/*  Hover and Highlight  */

a,
a:hover,
a:focus,
a:active,
a.active {
    outline: 0;
}

a {
    color: #fed136;
}

a:hover,
a:focus,
a:active,
a.active {
    color: #26A65B;
    background-color: #34495E;
    border-color: #26A65B;
}

::-moz-selection {
    text-shadow: none;
    background: #fff;
}

::selection {
    text-shadow: none;
    background: #fff;
}

img::selection {
    background: 0 0;
}

img::-moz-selection {
    background: 0 0;
}

body {
    webkit-tap-highlight-color: #fed136;
}


/*  Buttons  */

.btn-primary {
    border-color: #fed136;
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
    color: #fff;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
    border-color: #f6bf01;
    color: #fff;
    background-color: #fec503;
}

.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
    background-image: none;
}

.btn-primary.disabled,
.btn-primary[disabled],
fieldset[disabled] .btn-primary,
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
fieldset[disabled] .btn-primary:active,
.btn-primary.disabled.active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary.active {
    border-color: #fed136;
    background-color: #fed136;
}

.btn-primary .badge {
    color: #fed136;
    background-color: #fff;
}

.btn-drk {
    border-color: #fed136;
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
    color: #fff;
}

.btn-drk:hover,
.btn-drk:focus,
.btn-drk:active,
.btn-drk.active,
.open .dropdown-toggle.btn-drk {
    border-color: #f6bf01;
    color: #fff;
    background-color: #fec503;
}

.btn-drk:active,
.btn-drk.active,
.open .dropdown-toggle.btn-drk {
    background-image: none;
}



.btn-sq-orange {
    padding: 90px 90px;
    border-radius: 3px;
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 18px;
    font-weight: 700;
    color: #fff;
}

.btn-sq-orange:hover,
.btn-sq-orange:focus,
.btn-sq-orange:active,
.btn-sq-orange.active,
.open .dropdown-toggle.btn-sq-orange {
    border-bottom-color: #1B1B1E;
    border: 10px;
    color: #fff;
    background-color: #fec503;
}

.btn-sq-orange:active,
.btn-sq-orange.active,
.open .dropdown-toggle.btn-sq-orange {
    background-image: none;
}

.btn:focus,
.btn:active,
.btn.active,
.btn:active:focus {
    outline: 0;
}




/*  Sections  */

section {
    padding: 100px 0;
}


section h2.section-heading {
    margin-top: 0;
    margin-bottom: 15px;
    font-size: 60px;
    color: #fe4a49;
    font-weight: 400;
    font-family: 'Titillium Web', 'Monsterrat' sans-serif;
}

section h3.section-subheading {
    margin-bottom: 75px;
    text-transform: none;
    font-family: 'Raleway','Podkova',Helvetica,Arial,sans-serif;
    font-size: 16px;
    color: #fed766;
    font-style: oblique;
    font-weight: 400;
}

section h2.section-heading-light {
    margin-top: 0;
    margin-bottom: 15px;
    font-size: 60px;
    color: #FFF;
    font-weight: 400;
    font-family: 'Titillium Web', 'Monsterrat' sans-serif;
}
section h3.section-subheading-light {
    margin-bottom: 75px;
    text-transform: none;
    color: #FFF;
    font-family: 'Raleway','Podkova',Helvetica,Arial,sans-serif;
    font-size: 21px;
    font-style: bold;
    font-weight: 400;
}

@media(min-width:768px) {
    section {
        padding: 150px 0;
    }
}




/*   Modal CSS  */

#modal .modal-item {
    right: 0;
    margin: 0 0 15px;
}

#modal .modal-item .modal-link {
    display: block;
    position: relative;
    margin: 0 auto;
    max-width: 512px;
}

#modal .modal-item .modal-link .modal-hover {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    -webkit-transition: ease-in-out .5s;
    -moz-transition: ease-in-out .5s;
    transition: ease-in-out .5s;
}

#modal .modal-item .modal-link .modal-hover:hover {
    opacity: 1;
}

#modal .modal-item .modal-link .modal-hover .modal-hover-content {
    position: absolute;
    top: 50%;
    width: 100%;
    height: 20px;
    margin-top: -12px;
    text-align: center;
    position: center;
    font-size: 20px;
    color: #fff;
}

#modal .modal-item .modal-link .modal-hover .modal-hover-content i {
    margin-top: -12px;
}

#modal .modal-item .modal-link .modal-hover .modal-hover-content h3,
#modal .modal-item .modal-link .modal-hover .modal-hover-content h4 {
    margin: 0;
}

#modal .modal-item .modal-caption {
    margin: 0 auto;
    padding: 50px;
    max-width: 512px;
    text-align: center;
    color: #fff;
}

#modal .modal-item .modal-caption h4 {
    margin: 0;
    text-transform: none;
}

#modal .modal-item .modal-caption p {
    margin: 0;
    font-family: "Droid Serif","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 16px;
    font-style: italic;
}

#modal * {
    z-index: 2;
}

@media(min-width:767px) {
    #modal .modal-item {
        margin: 0 0 40px;
    }
}
 /*     Chapter Modals */
#modal-chapter .modal-item {
    right: 0;
    margin: 0 0 15px;
}

#modal-chapter .modal-item .modal-link {
    display: block;
    position: relative;
    margin: 0 auto;
    max-width: 400px;
}

#modal-chapter .modal-item .modal-link .modal-hover {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    background: rgba(38,166,91, 0.8);
    -webkit-transition: ease-in-out .5s;
    -moz-transition: ease-in-out .5s;
    transition: ease-in-out .5s;
}

#modal-chapter .modal-item .modal-link .modal-hover:hover {
    opacity: 1;
}

#modal-chapter .modal-item .modal-link .modal-hover .modal-hover-content {
    position: absolute;
    top: 50%;
    width: 100%;
    height: 20px;
    margin-top: -12px;
    text-align: center;
    font-size: 20px;
    color: #fff;
}

#modal-chapter .modal-item .modal-link .modal-hover .modal-hover-content i {
    margin-top: -12px;
}

#modal .modal-item .modal-link .modal-hover .modal-hover-content h3,
#modal .modal-item .modal-link .modal-hover .modal-hover-content h4 {
    margin: 0;
}

#modal-chapter .modal-item .modal-caption {
    margin: 0 auto;
    padding: 25px;
    max-width: 400px;
    text-align: center;
    background-color: #e6e6ea;
}

#modal-chapter .modal-item .modal-caption h4 {
    margin: 0;
    text-transform: none;
}

#modal-chapter .modal-item .modal-caption p {
    margin: 0;
    font-family: "Droid Serif","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 16px;
    font-style: italic;
}

#modal-chapter * {
    z-index: 2;
}

@media(min-width:767px) {
    #modal-chapter .modal-item {
        margin: 0 0 30px;
    }
}

.modal-modal .modal-content {
    padding: 100px 0;
    min-height: 100%;
    border: 0;
    border-radius: 0;
    text-align: center;
    background-clip: border-box;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.modal-modal .modal-content h2 {
    margin-bottom: 15px;
    font-size: 3em;
}

.modal-modal .modal-content p {
    margin-bottom: 30px;
}

.modal-modal .modal-content p.item-intro {
    margin: 20px 0 30px;
    font-family: "Droid Serif","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 16px;
    font-style: italic;
}

.modal-modal .modal-content ul.list-inline {
    margin-top: 0;
    margin-bottom: 30px;
}

.modal-modal .modal-content img {
    margin-bottom: 30px;
}

.modal-modal .close-modal {
    position: absolute;
    top: 25px;
    right: 25px;
    width: 75px;
    height: 75px;
    background-color: transparent;
    cursor: pointer;
}

.modal-modal .close-modal:hover {
    opacity: .3;
}

.modal-modal .close-modal .lr {
    z-index: 1051;
    width: 1px;
    height: 75px;
    margin-left: 35px;
    background-color: #222;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.modal-modal .close-modal .lr .rl {
    z-index: 1052;
    width: 1px;
    height: 75px;
    background-color: #222;
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}

.modal-modal .modal-backdrop {
    display: none;
    opacity: 0;
}



/* Navbar */

@media (max-width: 1200px) {
    .navbar-header {
        float: none;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin: 7.5px -15px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .navbar-text {
        float: none;
        margin: 15px 0;
    }
    /* since 3.1.0 */
    .navbar-collapse.collapse.in { 
        display: block!important;
    }
    .collapsing {
        overflow: hidden!important;
    }
}



/* Iframe & Deliminator */

   .delimitador{
        width:100%;
        margin:auto;
    }
    .contenedor{
        height:0px;
        width:100%;
        padding-top:56.25%;
        position:relative;
    }

    iframe{
            position:absolute;
            height:100%;
            width:100%;
            top:0px;
            left:0px;
    }



/* Timeline */

.timeline {
    list-style: none;
    padding: 20px 0 20px;
    position: relative;
}

    .timeline:before {
        top: 0;
        bottom: 0;
        position: absolute;
        content: " ";
        width: 3px;
        background-color: #eeeeee;
        left: 50%;
        margin-left: -1.5px;
    }

    .timeline > li {
        margin-bottom: 20px;
        position: relative;
    }

        .timeline > li:before,
        .timeline > li:after {
            content: " ";
            display: table;
        }

        .timeline > li:after {
            clear: both;
        }

        .timeline > li:before,
        .timeline > li:after {
            content: " ";
            display: table;
        }

        .timeline > li:after {
            clear: both;
        }

        .timeline > li > .timeline-panel {
            width: 46%;
            float: left;
            border: 1px solid #d4d4d4;
            border-radius: 2px;
            padding: 20px;
            position: relative;
            -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
            box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
        }

            .timeline > li > .timeline-panel:before {
                position: absolute;
                top: 26px;
                right: -15px;
                display: inline-block;
                border-top: 15px solid transparent;
                border-left: 15px solid #ccc;
                border-right: 0 solid #ccc;
                border-bottom: 15px solid transparent;
                content: " ";
            }

            .timeline > li > .timeline-panel:after {
                position: absolute;
                top: 27px;
                right: -14px;
                display: inline-block;
                border-top: 14px solid transparent;
                border-left: 14px solid #fff;
                border-right: 0 solid #fff;
                border-bottom: 14px solid transparent;
                content: " ";
            }

        .timeline > li > .timeline-badge {
            color: #fff;
            width: 50px;
            height: 50px;
            line-height: 50px;
            font-size: 1.4em;
            text-align: center;
            position: absolute;
            top: 16px;
            left: 50%;
            margin-left: -25px;
            background-color: #999999;
            z-index: 100;
            border-top-right-radius: 50%;
            border-top-left-radius: 50%;
            border-bottom-right-radius: 50%;
            border-bottom-left-radius: 50%;
        }

        .timeline > li.timeline-inverted > .timeline-panel {
            float: right;
        }

            .timeline > li.timeline-inverted > .timeline-panel:before {
                border-left-width: 0;
                border-right-width: 15px;
                left: -15px;
                right: auto;
            }

            .timeline > li.timeline-inverted > .timeline-panel:after {
                border-left-width: 0;
                border-right-width: 14px;
                left: -14px;
                right: auto;
            }

.timeline-badge.primary {
    background-color: #2e6da4 !important;
}

.timeline-badge.success {
    background-color: #3f903f !important;
}

.timeline-badge.warning {
    background-color: #f0ad4e !important;
}

.timeline-badge.danger {
    background-color: #d9534f !important;
}

.timeline-badge.info {
    background-color: #5bc0de !important;
}

.timeline-title {
    margin-top: 0;
    color: inherit;
}

.timeline-body > p,
.timeline-body > ul {
    margin-bottom: 0;
}

    .timeline-body > p + p {
        margin-top: 5px;
    }

@media (max-width: 767px) {
    ul.timeline:before {
        left: 40px;
    }

    ul.timeline > li > .timeline-panel {
        width: calc(100% - 90px);
        width: -moz-calc(100% - 90px);
        width: -webkit-calc(100% - 90px);
    }

    ul.timeline > li > .timeline-badge {
        left: 15px;
        margin-left: 0;
        top: 16px;
    }

    ul.timeline > li > .timeline-panel {
        float: right;
    }

        ul.timeline > li > .timeline-panel:before {
            border-left-width: 0;
            border-right-width: 15px;
            left: -15px;
            right: auto;
        }

        ul.timeline > li > .timeline-panel:after {
            border-left-width: 0;
            border-right-width: 14px;
            left: -14px;
            right: auto;
        }
}



/* END */