







html,
body {
    width: 100%;
    height: 100%;
}

body {
    font-family: "Titillium Web","Railways","Podkova",Arial,sans-serif;
}

.text-vertical-center {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

.text-vertical-center h1 {
    margin: 0;
    padding: 0;
    font-size: 4.5em;
    font-weight: 700;
}

/* Custom Button Styles */

.btn-dark {
    border-radius: 0;
    color: #34495E;
    border-color: #34495E;
}

.btn-dark:hover,
.btn-dark:focus, {
    color: #26A65B;
    border-color: #26A65B;

}

.btn-light {
    border-radius: 0;
    color: #fff;
    border-color: #fff;
}

.btn-light:hover,
.btn-light:focus, {
    color: #62A65B;
    background-color: #fff;
    border-color: #62A65B;
}

/* Custom Horizontal Rule */

hr.small {
    max-width: 100px;
}

/* Header */

.header {
    display: table;
    position: relative;
    width: 100%;
    height: 100%;
    background: url(../img/bg.jpg) no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

/* Call to Action */

.call-to-action {
    padding: 50px 0;
}

.call-to-action .btn {
    margin: 10px;
}
